* body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}
/* NAVBAR */
nav{
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  color: rgb(15, 15, 15);
  text-align: center;
  font-family: kanit,sans-serif;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  left: 20px;
}
.nama img{
  position: relative;
  top: 30px;
  left: 60px;
}
nav ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 50%;
  font-size: 1.5rem;
  position: relative;
  top: 0;
  left: 130px;
}
nav ul li a{
  text-decoration: none;
  color: rgb(15, 15, 15);
  font-family:sans-serif;
  text-align: center;
  justify-content: space-around;
  padding: 15px;
  
}
.akun {
  display: flex;
}
.signup>a{
  background-color: rgb(214, 4, 4);
  padding: 2px ;
  color: white;
  border-radius: 8px ;
  padding: 15px;
  
}
.login>a{
  color: rgb(214, 4, 4);
}
/* Akhir Navbar */

/* image */
.image1 img{
  position: relative;
  top: 150px;
  left: -120px;
  width: 391px
  height: 407px
}
.image1 h2{
  position: absolute;
  top: 180px;
  left: 100px;
  font-size: 60px;
  text-align: left;
}
.image1 p{
  display: flex;
  position: absolute;
  top: 390px;
  left: 110px;
  text-align:justify;
}
.image1 .Register{
  color: #ffffff;
  background-color: #4CAF4F;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  top: 40px;
  left: -950px;
  text-decoration: none;
}
.image1 h2 span{
  color: #4CAF4F;
}
.log-akun .akun{
  list-style: none;
display: flex;
}
.log-akun .akun a{
  text-decoration: none;
  padding: 10px;
  position: relative;
  top: 22px;
  left: 1050px;
  font-size: 22px;
}
/* style isi conten */
.conten{
  position: absolute;
  top: 700px;
  left: 200px;
  text-align: center;
  
}
.conten>img{
  width: 1000px;
height: 90px;
justify: space-between;

}
.comunity>img{
  position: absolute;
  top: 900px;
}
.unlock>img{
  position: absolute;
  top: 1300px;
}
.achievements>img{
  position: absolute;
  top: 1700px;
}
.unlock2>img{
  position: absolute;
  top: 130rem;
}
.timsmith>img{
  position: absolute;
  top: 160rem;
  left: 10rem;
}
.timsmith>p{
  position: absolute;
  top: 159rem;
  left: 35rem;
  text-align:start;
  font-size: 20px;
}
.timsmith>h5{
  position: absolute;
  top: 171rem;
  left: 35rem;
  font-size: 20px;
  color: #4CAF4F;
}
.timsmith>h6{
  position: absolute;
  top: 173rem;
  left: 35rem;
  font-size: 15px ;
  font-style:unset;
  font-weight: 100;
}
.timsmith .iconsimbol{
  position: relative;
  top: 173rem;
  left: 35rem;
}
.frameimg>img{
  position: absolute;
  top: 178rem;
  left: 35rem;

}
.marketing>h2{
  position: absolute;
  top: 185rem;
  left: 30rem;
  font-size: 30px;
}
.marketing>p{
  position: relative;
  top: 184rem;
  left: 2rem;
  font-size: 20px;
  text-align: center;
}
.marketing>img{
  position: relative;
  top: 185rem;
  left: 0rem;
}
.lastconten>img{
  position: relative;
  top: 187rem;
  left: 0;
  width:90rem;
  height: 250px;
}
.footer{
  position: relative;
  top: 190rem;
  background: #263238;
  height: 290px;
}
.isifooter>img{
  position: relative;
  top: 180rem;
  left: 100px;
  background-color: white;
}
.isifooter>p{
  color: white;
  position: relative;
  top:180rem;
  left:100px;
}
.listfooter h4{
  position: relative;
  top: 168rem;
  left: 40rem;
  color: #ffffff;
  font-size: 20px;
}
.listfooter ul li a{
  text-decoration: none;
  color: #ffffff;
  position: relative;
  top: 168rem;
  left: 38rem;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
.listfooter ul{
  list-style: none;
 
}
.listfooter .list2 li a{
  position: relative;
  top: 151rem;
  left: 51rem;
  color: #ffffff;

}
.listfooter h3{
 position: relative;
 top: 151rem;
 left: 53rem;
 font-weight: 600;
 color: #ffffff;
 font-size: 23px;
}
.email>h5{
  position: relative;
  top: 133rem;
  left: 68rem;
  color:#ffffff;
  font-size: 25px;
}
.email>a{
  position: relative;
  top: 133rem;
  left: 68rem;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px ;
  background: linear-gradient(#4a4a4d);
  backdrop-filter: blur (5px);
  width: 255px;
  height: 40px;
  border-radius: 8px;

}
.comunity h4{
  position: relative;
  top: 45rem;
  left: 2rem;
  text-align: center;
  font-size: 25px;
}
.comunity p{
  position: relative;
  top: 44rem;
  left: 38rem;
  font-size: 15px;
  
}
.comunity-icon img{
  position: relative;
  top: 49rem;
  left: 18rem;
}
.comunity-icon>img.icon2{
  position: relative;
  top: 48rem;
  left: 38rem;
}
.comunity-icon>img.icon3{
  position: relative;
  top: 48rem;
  left: 57rem;
}
.text-icon .text1{
  position: relative;
  top: 48rem;
  left: 16rem;
  font-size: 20px;
}
.text-icon .ptext1{
  position: relative;
  top: 47rem;
  left: -22rem;
  text-align: center;
}
.text-icon .text2{
  position: relative;
  top: 38rem;
  left: 2rem;
  text-align: center;
  font-size: 20px;
}
.text-icon .ptext2{
  position: relative;
  top: 37rem;
  left: 2rem;
  text-align: center;
}
.text-icon .text3{
  font-size: 20px;
  position: relative;
  top: 27rem;
  left: 25rem;
  text-align: center;
}
.text-icon .ptext3{
  position: relative;
  top: 26rem;
  left: 25rem;
  text-align: center;
}
.mobile-login img{
  position: relative;
  top: 32rem;
  left: 10rem;
}
.mobile-login .text-judul{
  position: relative;
  top: 12rem;
  left: 35rem;
  width: 600;
  font-size: 36px;
}
.mobile-login .text-dec{
  position: relative;
  top: 10rem;
  left: 35rem;
  font-size: 14px;
  width: 400;
}
.mobile-login a{
  position: relative;
  top: 12rem;
  left: 35rem;
  text-decoration: none;
  background-color: #4CAF4F;;
  padding: 2px ;
  color: white;
  border-radius: 8px ;
  padding: 15px;
}
.local-busines h3{
  position: relative;
  top: 20rem;
  left: 15rem;
  font-size: 30px ;
  width: 500;
}
.local-busines h3>span{
  color: #4CAF4F;
}
.local-busines p{
  position: relative;
  top: 19rem;
  left: 15rem;
}
.local-busines .simbol{
  position: relative;
  top: 11rem;
  left: 45rem;
}
.local-busines .simbol1{
  position: relative;
  top: 18rem;
  left: 42rem;
}
.local-busines .simbol2{
  position: relative;
  top: 11rem;
  left: 52rem;
}
.local-busines .simbol3{
  position: relative;
  top: 18rem;
  left: 49rem;
}
.keterangan .h1{
  position: relative;
  top: 7rem;
  left: 49rem;
}
.keterangan .p1{
  position: relative;
  top: 6rem;
  left: 49rem;
}
.keterangan .h2{
  position: relative;
  top: 2rem;
  left: 62rem;
}
.keterangan .p2{
  position: relative;
  top: 1rem;
  left: 62rem;
}
.keterangan .h3{
  position: relative;
  top: 4rem;
  left: 49rem;
}
.keterangan .p3{
  position: relative;
  top: 3rem;
  left: 49rem;
}
.keterangan .h4{
  position: relative;
  top: -1rem;
  left: 62rem;
}
.keterangan .p4{
  position: relative;
  top: -2rem;
  left: 62rem;
}
.pana img{
  position: relative;
  top: -2rem;
  left: 10rem;
}
.pana .pana1{
  position: relative;
  top: -28rem;
  left: 36rem;
  font-size: 36px;
  width: 600;
  color:#4D4D4D;
}
.pana .panap{
  position: relative;
  top: -29rem;
  left: 36rem;
  width: 400;
  color: #717171;
}
.img-marketing .gambar1{
  position: relative;
  top: 22rem;
  left: 8rem;
}
.img-marketing .gambar2{
  position: relative;
  top: 22rem;
  left: 10rem;
}
.img-marketing .gambar3{
  position: relative;
  top: 22rem;
  left: 12rem;
}
.link-mar .creating{
  color:#717171;
  position: relative;
  top: 15rem;
  left: 10rem;
  text-align: center;
  background-color: #ffffff;
  width: 18rem;
  height: 11rem;
}
.link-mar .creatinga{
  text-decoration: none;
  position: relative;
  top: 9rem;
  left: 14rem;
  color: #4CAF4F;
  font-size: 25px;
}
.link-mar .creating2{
  color:#717171;
  position: relative;
  top: -5px;
  left: 36rem;
  text-align: center;
  background-color: #ffffff;
  width: 18rem;
  height: 11rem;
}
.link-mar .creatinga2{
  text-decoration: none;
  position: relative;
  top: -6rem;
  left: 41rem;
  color: #4CAF4F;
  font-size: 25px;
}
.link-mar .creating3{
  color:#717171;
  position: relative;
  top: -16rem;
  left: 62rem;
  text-align: center;
  background-color: #ffffff;
  width: 18rem;
  height: 11rem;
}
.link-mar .creatinga3{
  text-decoration: none;
  position: relative;
  top: -21rem;
  left: 67rem;
  color: #4CAF4F;
  font-size: 25px;
}

.gitdemo h2{
  position: relative;
  top: -20rem;
  left: 2rem;
  font-size: 60px;
  text-align: center;
}
.gitdemo a{
  position: relative;
  top: -20rem;
  left: 40rem;
  text-decoration: none;
  background-color: #4CAF4F;
  padding: 10px ;
  color: white;
  border-radius: 8px ;
  padding: 14,  40px, 14px, 40px;

}
.gitdemo img{
  position: relative;
  top: -20rem;
  left: 38rem;

}
